/* body {
  --mdc-theme-primary: rgb(52, 152, 219);
  --mdc-theme-secondary: rgb(45, 204, 151);
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-background: #fff;
  --mdc-theme-text-primary-on-background: #000;
  --mdc-typography-base: "Benton Sans", Arial, Helvetica, sans-serif;
  background-color: var(--mdc-theme-background);
  font-family: "Benton Sans", Arial, Helvetica, sans-serif !important;
  font-size: 12px;
  height: 100vh;
  overflow-y: none;
} */

#graph-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#controls-container {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 30px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

kbd {
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: linear-gradient(#fefefe, #e7e7e7);
  background-repeat: repeat-x;
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #000;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
}

/* .mdc-select {
  min-width: 200px;
  margin-left: 10px;
}

.mdc-floating-label {
  font-family: "Benton Sans", Arial, Helvetica, sans-serif !important;
  font-size: 12px;
}

.mdc-floating-label--float-above {
  color: #666666 !important;
}

.mdc-text-field__input {
  height: auto !important;
  font-family: "Benton Sans", Arial, Helvetica, sans-serif !important;
  font-size: 12px;
}

.about-card {
  padding: 20px;
}

.mdc-typography {
  margin: 0;
}

.mdc-typography,
.mdc-typography--headline5 {
  font-family: "Benton Sans", Arial, Helvetica, sans-serif !important;
}

.configure-card {
  width: 100%;
}

.card-content {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.mdc-tab {
  font-size: 12px;
}

.mdc-tab-bar {
  background-color: rgb(245, 245, 245);
  font-size: 12px;
  height: 39px;
  width: 100%;
}

.mdc-tab__indicator {
  background-color: var(--mdc-theme-primary);
}

.mdc-card__actions {
  bottom: 0px;
  position: absolute;
  right: 10px;
}

.mdc-card--outlined {
  border: 0;
}

.mdc-card__media {
  background: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
  height: 100px;
}

.mdc-card__media-content {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 10px;
  left: 10px;
}

.mdc-list {
  font-size: 12px;
} */
